
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMCS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <div class="header">

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <a asp-area="" asp-controller="Home" asp-action="Home"><img src="/images/logo.png" width="265" height="92" alt="logo"></a>

                </div>

                <div class="col-md-9">
                    <div class="pull-right margin-t-10">
                        <a href="#"><i class="fa fa-2x fa-facebook white-color margin-r-10"></i></a>
                        <a href="#"> <i class="fa fa-2x fa-linkedin white-color margin-r-10"></i></a>
                    </div>
                    <div class="clearfix"></div>


                    <div class="nav pull-right">

                        <ul>

                            <li><a asp-area="" asp-controller="Home" asp-action="Home"> Home </a> </li>
                           
                            <li><a href="#"> Contact </a> </li>

                        </ul>

                    </div>





                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">

        <div class="row">

            <div class="col-md-4">


                <div class="list-group margin-t-25">
                    @* <a class="list-group-item active" target="_blank" href="https://goo.gl/forms/tzbKjJqYGA"><i class="fa fa-hand-o-right"></i>  Are you HAPPY?</a> *@
                    <a class="list-group-item" target="_blank" href="http://goo.gl/forms/tzbKjJqYGA"><i class="fa fa-hand-o-right"></i> Are you HAPPY? Tell us!</a>
                    <a class="list-group-item" asp-area="" asp-controller="Account" asp-action="Login" asp-route-companyCode="olympus"><i class="fa fa-hand-o-right"></i> Download SalarySlip</a>

                    <a class="list-group-item" target="_blank" href="https://goo.gl/forms/FkwTkll8bu"><i class="fa fa-hand-o-right"></i> Refer your friends</a>

                    <a class="list-group-item" target="_blank" href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/"><i class="fa fa-hand-o-right"></i> EPF/UAN check balance</a>
                    <a class="list-group-item  " asp-area="" asp-controller="Home" asp-action="Insurance"><i class="fa fa-hand-o-right"></i> Group Insurance</a>
                    <a class="list-group-item" target="_blank" href="https://sso.esic.gov.in/ESICSSOAppLiferay/login.jsp"><i class="fa fa-hand-o-right"></i> ESI entitlements</a>

                    <a class="list-group-item" target="_blank" href="https://goo.gl/forms/oxDk11InYy"><i class="fa fa-hand-o-right"></i> Update Contact Details</a>
                    <a class="list-group-item  " asp-area="" asp-controller="Home" asp-action="Faq"><i class="fa fa-hand-o-right"></i> FAQs Helpline</a>
                    <a class="list-group-item" target="_blank" href="https://chat.whatsapp.com/I4a761NxwBEHqxMwk9VimQ"><i class="fa fa-hand-o-right"></i> HR Professionals Group</a>
                     <!-- <a class="list-group-item" href="http://goo.gl/forms/IQK8XvyPNI"><i class="fa fa-hand-o-right"></i>Submit Leave Application</a> -->

                </div>

                <a href="https://omcs.in/" target="_blank"><img src="/images/picture1.png" width="350" height="100" alt="#" class="margin-b-10"></a>

                <a href="https://mywageslip.com/" target="_blank"><img src="/images/logowg.png" width="350" height="80" alt="#"></a>

                <a href="https://www.facebook.com/Olderadults/" target="_blank"><img src="/images/banner.jpg" width="350" height="90" alt="#" class="margin-b-10"></a>

            </div>

            <div class="col-md-8">

                <h1 class="margin-t-30 margin-b-20 page-header">Group Accident &amp; Medical Insurance</h1>
                <ul class="insurance_list">
                    <li>
                        <p>
                            Check Your Login &amp; Password for Insurance Card <a href="http://mywageslip.com/listins.html" target="_blank">
                                click here
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Login here to check your eligibility
                            <a href="https://secure.dhs-india.com/mis2/card/" target="_blank">  click here</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Check Hospitals in your area for Cashless Treatment
                            <a href="http://secure.dhs-india.com/hospitalnetwork/Select2_State.asp?in=C00170" target="_blank">
                                click here
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Even for Cashless intimation is must, for intimation&nbsp;
                            <a href="https://secure.dhs-india.com/forms/online_claim_intimationweb.asp" target="_blank">click here</a>
                        </p>
                    </li>
                </ul>


            </div>

        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>