
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMCS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <div class="header">

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <a asp-area="" asp-controller="Home" asp-action="Home"><img src="/images/logo.png" width="265" height="92" alt="logo"></a>

                </div>

                <div class="col-md-9">
                    <div class="pull-right margin-t-10">
                        <a href="#"><i class="fa fa-2x fa-facebook white-color margin-r-10"></i></a>
                        <a href="#"> <i class="fa fa-2x fa-linkedin white-color margin-r-10"></i></a>
                    </div>
                    <div class="clearfix"></div>


                    <div class="nav pull-right">

                        <ul>

                            <li><a asp-area="" asp-controller="Home" asp-action="Home"> Home </a> </li>
                            <li><a href="#"> Helpline </a> </li>
                            <li><a href="#"> Contact </a> </li>

                        </ul>

                    </div>





                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">

        <div class="row">

            <div class="col-md-4">


                <div class="list-group margin-t-25">
                    @* <a class="list-group-item active" target="_blank" href="https://goo.gl/forms/tzbKjJqYGA"><i class="fa fa-hand-o-right"></i>  Are you HAPPY?</a> *@
                    <a class="list-group-item" target="_blank" href="http://goo.gl/forms/tzbKjJqYGA"><i class="fa fa-hand-o-right"></i> Are you HAPPY? Tell us!</a>
                    <a class="list-group-item" asp-area="" asp-controller="Account" asp-action="Login" asp-route-companyCode="olympus"><i class="fa fa-hand-o-right"></i>Download SalarySlip</a>

                    <a class="list-group-item" target="_blank" href="https://goo.gl/forms/FkwTkll8bu"><i class="fa fa-hand-o-right"></i> Refer your friends</a>
                    <a class="list-group-item" target="_blank" href="http://www.mywageslip.com/offers.html"><i class="fa fa-hand-o-right"></i> Employee Offers/Discounts</a>
                    <a class="list-group-item  " asp-area="" asp-controller="Home" asp-action="PfForms"><i class="fa fa-hand-o-right"></i> PF/UAN check balance</a>
                    <a class="list-group-item  " asp-area="" asp-controller="Home" asp-action="Insurance"><i class="fa fa-hand-o-right"></i> Group Insurance</a>
                    <a class="list-group-item" target="_blank" href="https://sso.esic.gov.in/ESICSSOAppLiferay/login.jsp"><i class="fa fa-hand-o-right"></i> ESI entitlements</a>

                    <a class="list-group-item" target="_blank" href="https://goo.gl/forms/oxDk11InYy"><i class="fa fa-hand-o-right"></i> Update Contact Details</a>
                    <a class="list-group-item  " asp-area="" asp-controller="Home" asp-action="Faq"><i class="fa fa-hand-o-right"></i> FAQs Helpline</a>
                    <a class="list-group-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.iAnimate.free.ireport1"><i class="fa fa-hand-o-right"></i> Attedance App</a>
               
                    <!-- <a class="list-group-item" href="http://goo.gl/forms/IQK8XvyPNI"><i class="fa fa-hand-o-right"></i>Submit Leave Application</a> -->

                </div>

                <a href="https://omcs.in/" target="_blank"><img src="/images/picture1.png" width="350" height="100" alt="#" class="margin-b-10"></a>

                <a href="https://mywageslip.com/" target="_blank"><img src="/images/logowg.png" width="350" height="80" alt="#"></a>

                <a href="https://www.facebook.com/Olderadults/" target="_blank"><img src="/images/banner.jpg" width="350" height="90" alt="#" class="margin-b-10"></a>

            </div>

            <div class="col-md-8" style="margin-top:25px;">

                <p>Your EPF number stands replaced with UAN number &amp; is mentioned as pf no. on your salary slip.</p>
                <p>Just give a missed call on  01122901406 to know UAN linked with your mobile number. <a href="https://omcs.in/uan.pdf" target="_blank"> Read more...</a> </p>
                <p>
                    Share your UAN now else you will loose your contributions, ACT NOW, UAN number gets  generated automatically only once, at the time of your first employment, if you have already
                    been member of EPF <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3mPjif8LxewmYaF113a5K3TFhJGaOxwSf0nncRdj98L1HYA/viewform" target="_blank">
                        submit details here
                    </a>,
                </p>

                <p>
                    First time job or member with no EPF/UAN  <a href="http://epfindia.com/site_en/CitizensServices.php?id=sm16_index" target="_blank">
                        generate UAN here
                    </a>
                </p>

                <p class="margin-b-30">
                    For Withdrawal Contact EPFO directly, no employer attestation needed, Fill  <a href="pdf/PFform.pdf" target="_blank"> Composite Single Form </a>, to know more
                    <a href="http://www.epfindia.com/site_en/WhichClaimForm.php#Q3" target="_blank">click here </a>
                </p>



                <div>
                    <p class="margin-b-0">SERVICES</p>
                    <div>
                        <ul>
                            <li>
                                <a class="external" title="This link shall take you to a webpage outside www.epfindia.com. For any query regarding the contents of the linked page, please contact the webmaster of the concerned website." href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/" target="_blank"> UAN Member e-Sewa</a> First time users can activate
                                or know status.
                            </li>

                            <li>
                                <a href="http://oeoea.epfoservices.com/UANDEDUP/" target="_blank">UAN Helpdesk</a> Numbers
                                9463737424 &amp; 9463733422
                            </li>
                            <li>
                                <a href="http://epfindia.com/site_en/KYCS.php" target="_blank">
                                    Know Your Claim Status
                                </a> Applied for a withdrawl?
                                check the status.
                            </li>
                            <li>
                                <a class="external" title="This link shall take you to a webpage outside www.epfindia.com. For any query regarding the contents of the linked page, please contact the webmaster of the concerned website." href="http://epfigms.gov.in/" target="_blank">
                                    EPFiGMS (Register your Grievance)
                                </a> Any problems
                                still not resolved, lodge it here.
                            </li>
                        </ul>
                    </div>

                    <li>
                        <a class="external" title="This link shall take you to a webpage outside www.epfindia.com. For any query regarding the contents of the linked page, please contact the webmaster of the concerned website." href="http://search.epfoservices.org:81/locate_office/office_location.php" target="_blank">
                            Locate an EPFO Office
                        </a>
                    </li>




                    



                </div>

            </div>

            <div class="footer footer_pfforms">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © 2016 omcs.in Olympus Group. All Rights Reserved.</p>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>