@charset "utf-8";
/* CSS Document */

*{ margin: 0; padding: 0; box-sizing: border-box; }
.menu-list {list-style: none; }
.menu-list li { margin-right: 20px; }
.menu-list li a{ color: inherit; text-decoration: underline; }
.menu-list li:last-child { margin-right: 0px; }